<div class="page">
  <div class="page__container">
    <div class="page__stopwatch stopwatch">
      <div class="stopwatch__display">
        {{ state.getSecAsDate() | date: "mm:ss" }}
      </div>
      <div class="stopwatch__buttons">
        <button class="stopwatch__button" #startButton>Start</button>
        <button class="stopwatch__button" #stopButton>Stop</button>
        <button class="stopwatch__button" #waitButton>Wait</button>
        <button class="stopwatch__button" #resetButton>Reset</button>
      </div>
    </div>
  </div>
</div>
